<code># =============== #
# Unity generated #
# ==================== #
Library/
Temp/
.vs/
XLua/
XLua.meta
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
